<!doctype html>
<html>
    <head>
		<title>ermahgerd</title> 
		<link rel="stylesheet" href="/css/style.css">
		<link href='https://fonts.googleapis.com/css?family=Gloria+Hallelujah' rel='stylesheet' type='text/css'>
	</head>
	<body>
		<div id="topboard">
			<div id="homenav"><a href="/"><img src="/images/ermahgerd.png" id="ermahgerd" /></a></div>
			<div id="navmenu">
			<div class="navbit" id="bit1"><a href="/books">BERKS</a></div>
			<div class="navbit" id="bit2"><a href="/kitchen">KERCHIN STERF</a></div>
			<div class="navbit" id="bit3"><a href="/wardrobe">CLERTHES</a></div>
			<div class="navbit" id="bit4"><a href="/gear">TERK</a></div>
			<div class="navbit" id="bit5"><a href="/misc">ERTHER STERF</a></div>
			</div>
		</div>
		<div id="main">
				{{{body}}}
		</div>
	</body>
</html>